.box__container {
  border: 1px solid black;
  flex: 0 1 32%;
  flex-basis: 1;
  height: 100px;
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 150px;

  // IPAD
  @media only screen and (max-width: 960px) {
    flex: 0 0 40%;
    background: red;
    flex-shrink: 1;
  }

  // MOBILE
  @media only screen and (max-width: 759px) {
    flex: 1 1 100%;
  }
}

.meta-container {
  flex: 1 0 100%;
  margin: 50px 0 15px 0;
}

h3 {
  float: left;
  &.right-align {
    float: right;
  }
}
